@use 'globals'
@use 'components'

body
    width: 100%
    display: grid
    grid-template-columns: 240px 1fr
    color: #fff

    aside
        background-color: hsl(208, 21%, 18%)
        display: flex
        flex-direction: column
        justify-content: center

        nav

            ul li
                &.active a
                    background-color: hsl(210, 30%, 29%)
                    border-left: 6px solid hsl(348, 83%, 47%)

            a
                color: #fff
                display: block
                padding: 1em 2em

            & a:hover
                background-color: var(--gray-dark)

    main
        background-color: hsl(330, 2%, 16%)
        display: flex
        align-items: center
        justify-content: center

        form
            display: flex
            padding: 4em
            border: 2px solid hsl(0, 0%, 86%)
            flex-direction: column
            gap: 1.5em

            label

                input
                    background: hsl(0, 1%, 32%)
                    padding: 0.5rem 0.875rem
                    font-size: 0.875rem
                    width: 100%
                    border: none
                    margin-top: 8px
                    color: #fff
